@page "/game/{Id}"

@using Codenames.Data;
@using Microsoft.AspNetCore.Http;

@inject WordService _wordService
@inject IHttpContextAccessor _contextAccessor

@if (game == null)
{
    game = _wordService.GetGame(int.Parse(Id));
}
@if (game != null)
{
    int? userId = _contextAccessor.HttpContext.Request.Cookies.ContainsKey("userid")
        ? (int?)int.Parse(_contextAccessor.HttpContext.Request.Cookies["userid"])
        : null;

    var showJoin = !game.Players.Any(a => a.playerId == userId);
    var showRedSmJoin = !game.Players.Any(a => a.isSpyMaster && a.team == Team.Red);
    var showBlueSmJoin = !game.Players.Any(a => a.isSpyMaster && a.team == Team.Blue);
    var showLeave = game.Players.Any(a => a.playerId == userId);

    <div>
        <button type="button" class="join btn btn-primary neutral @(showJoin ? "" : "hide")" onclick="joinGame()">Join Game</button>
        <button type="button" class="sm-join btn btn-primary red @(showRedSmJoin ? "" : "hide")" onclick="joinGameAsSm(0)">Join Game as Red SM</button>
        <button type="button" class="sm-join btn btn-primary blue @(showBlueSmJoin ? "" : "hide")" onclick="joinGameAsSm(1)">Join Game as Blue SM</button>
        <button type="button" class="leave btn btn-primary assassin @(showLeave ? "" : "hide")" onclick="leaveGame()">Leave Game</button>
    </div>
    <br />
    <div class="row">
        <div class="col-lg order-lg-1">
            <WordGridControl game="game"></WordGridControl>
        </div>
        <div class="col-sm chat-column red-chat-column order-lg-0">
            <ChatControl id="red-chat">Red Chat</ChatControl>
        </div>
        <div class="col-sm chat-column blue-chat-column order-2">
            <ChatControl id="blue-chat">Blue Chat</ChatControl>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }

    Game game = null;
}
