@page "/game/{Id}"

@using Codenames.Data;
@inject WordService _wordService

@if (game == null)
{
     game = _wordService.GetGame(int.Parse(Id));
}
@if (game != null)
{
    <div>
        <button type="button" class="btn btn-primary neutral" onclick="joinGame()">Join Game</button>
        <button type="button" class="btn btn-primary red" onclick="joinGameAsSm(0)">Join Game as Red SM</button>
        <button type="button" class="btn btn-primary blue" onclick="joinGameAsSm(1)">Join Game as Blue SM</button>
        <button type="button" class="btn btn-primary assassin" onclick="leaveGame()">Leave Game</button>
    </div>
    <br/>
    <div class="grid-container">
        @foreach (var item in game.Words)
        {
            var tmpWord = item;

            <div class="grid-item @item.word @(item.isGuessed ? item.state.ToString().ToLower() : "")" @onclick="() => _wordService.MarkAsClicked(game, tmpWord.word)">
                @item.word
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }

    Game game = null;
}
